
<div class="frame">
    <div class="header">
        <div class="name vertical_centered">
            <span><%= card.getName %></span>
        </div>
        <div class="manacost vertical_centered">
            <span><%= card.getColor %></span>
        </div>
    </div>
    <div class="illust">
    </div>
    <div class="middle">
        <div class="cardtype vertical_centered">
            <span><%= card.getType %></span>
        </div>
        <div class="rarity vertical_centered horizon_centered">
            <span><%= card.rarity %></span>
        </div>
    </div>
    <div class="oracle"><%= card.getText %></div>
    <div class="footer">
        <div class="creaturesize">
            <div class="power vertical_centered horizon_centered">
                <span><%= card.getPower %></span>
            </div>
            <div class="toughness vertical_centered horizon_centered">
                <span><%= card.getToughness %></span>
            </div>
        </div>
    </div>
    <div class="frameend"></div>
</div>
